<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neo.gas_ec" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".VolleyApp"
        android:allowBackup="true"
        android:icon="@drawable/neology_ico_tb"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadTagActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="app/com.neology.ecufuelrfid" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="app/com.neo.gas_ec" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <data android:mimeType="app/com.neology.ecufuelrfid" />

                <data
                    android:host="developer.android.com"
                    android:pathPrefix="/index.html"
                    android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DataActivity" />
        </activity>
        <activity
            android:name=".transitions.ActivityAnimations"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".transitions.PictureDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name=".transitions.CardDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>

        <!--
            meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".TagActivity" /
        -->

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DataActivity"
            android:label="@string/title_activity_data"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
